################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BoardGamesMVC/BoardGamesMVC/bin/Debug/netcoreapp1.1
